# IDE
.vscode
.idea

# Node ddependency directories
node_modules/
*/ndoe_modules

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# macOS files
.DS_Store
week-1/project08-01.zip
week-2/Week2-Character_Generator.zip
week-3/project09-02.zip
